/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/bootstrap/compiled.php


/vendor
/node_modules
.env
public/uploads/*
/public/uploads/*
.idea*
.idea/*
/.idea/*
_ide*
.idea/*
lav/.idea/workspace.xml
/lav/.dea/workspace.xml
.idea/workspace.xml
/.idea/workspace.xml
