.error{
	color:red;
}
.errorblock{
	color:red;
	text-align: center;
}

form .form-group label span{
	color:red;
}
.formOverTable{
	margin-top: 10px;
}
.box{
	margin-top: 10px;
}

/*Directory Styles*/

.directory-list, .directory-info-row .social-links {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.directory-list li {
	border-left: 3px solid #f1f2f7;
	display: table-cell;
	width: 1%;
}


.directory-list li a {
	display: block;
	padding: 8px 0;
	text-align: center;
	text-transform: uppercase;
	background: #fff;
	color: #7A7676;
	-moz-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
	text-decoration: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.directory-list li a:hover, .directory-info-row .social-links li a:hover {
	background:#ff6c60;
	color: #fff;
}

.directory-info-row {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.directory-info-row .social-links {
	display: inline-block;
	margin-bottom: 10px;
}

.directory-info-row .social-links li{
	display: inline-block;
}

.directory-info-row .social-links li a{
	background: #EFF0F4;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #7A7676;
}

.directory-info-row h4, .directory-info-row a {
	color: #424F63;
}

.directory-info-row .thumb {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	height: auto;
	width: 175px;
	margin-right: 10px;
}

/*ADDED BY DANILO*/
li.disabled a{
	cursor: not-allowed!important;
}